pkgbase = linux-soundboard
	pkgdesc = Native Linux soundboard with full Wayland/X11 support and virtual microphone support
	pkgver = 1.1.2
	pkgrel = 1
	url = https://github.com/germanua/Linux-SoundBoard
	install = linux-soundboard.install
	arch = x86_64
	license = custom:PolyForm-Noncommercial-1.0.0
	makedepends = cargo
	makedepends = imagemagick
	makedepends = clang
	makedepends = pkgconf
	depends = gtk4
	depends = libadwaita
	depends = libpulse
	depends = libx11
	depends = libxi
	depends = libxtst
	depends = libxkbcommon
	depends = hicolor-icon-theme
	depends = polkit
	depends = pipewire
	depends = wireplumber
	optdepends = swhkd-bin: native Wayland global hotkeys from the AUR
	optdepends = swhkd-git: development build of the native Wayland hotkey daemon
	optdepends = xorg-xwayland: enables the native X11 backend inside Wayland sessions
	source = linux-soundboard-1.1.2.tar.gz::https://github.com/germanua/Linux-SoundBoard/archive/refs/tags/v1.1.2.tar.gz
	sha256sums = SKIP

pkgname = linux-soundboard
